section.repository-list{
  margin: 40px;
}
h1{
  font-size: 2rem;
  margin-bottom: 16px;
  text-align: center;
}
h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #7064F5 ;
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  gap: 25px;
}


li {
  display: inline-block;
  position: relative;
  border: 1px solid  #ddd;
  height: 190px;
  background-color: #fff;
  padding: 1rem;
  // margin: 5px 12.5px 20px;
  overflow: hidden;
  border-radius: 0.5rem;

}


p{
  color: #3a3a3a;
  margin-bottom: 10px;
  line-height: 1.2rem;
  min-height: 90px;
}

a{
  text-decoration: none;
  color: #7064F5 ;
  border: 1px solid  #7064F5 ;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 16px;
  position: relative;
  bottom: 10px;
  transition: 0.3s ease-in ;

  &:hover{
    background-color: #7064F5;
    color: #fff;
  }
}


@media only screen and (max-width: 600px) {

}














  // ul{
  //   list-style: none;
  //   li{
  //     display: inline-block;
  //     max-width: 500px;
  //     margin: 20px;
  //     & + li {
  //       margin-top: 20px;
  //     }
  //   }
  //   p {
  //     font: size 14px;
  //     color: #444;
  //     margin-top: 8px;
  //   }

  //    a{
  //      display: inline-block;
  //     margin-top: 16px;
  //     text-decoration: none;
  //     color: 8257e6
  //    }

  // }
